<h1>New entry</h1>

<%=
    form_for :entry, routes.entries_path do
      label :title
      text_field :title
      br
      label :body
      text_field :body
      br
      submit "create"
    end
%>